# ML_June06_PythonAssignment3

### Q1.A:- Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [1]:
def myreduce(func, iterable, init=None):
    if type(init)!= type(None):
        ans = func(init,iterable[0])
        ans = func(ans,iterable[1])
    else :
        ans =  func(iterable[0],iterable[1])
    for i in range(2,len(iterable)):
        ans = func(ans,iterable[i])
    else:
        return ans
        
print(myreduce(lambda x,y: x*y, [1,5,1,4],9))
print(myreduce(lambda x,y: x*y, [1,5,1,4]))

180
20

### Q1.B:- Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [2]:
# def my_map(func, iterable):
#     for i in iterable:
#         l.append(func(i))
#     return l

# my_map(lambda x: x+2, [1,5,1,4])  


def myfilter(func, iterable):
    if type(func) == type(None):
        return iterable
    l = []
    for i in iterable:
        if func(i):
            l.append(i)
    return l

print(myfilter(None, [5,7,1,2,4,9,6,4,2,3]))
print(myfilter(lambda x: x>5, [5,7,1,2,4,9,6,4,2,3]))

[5, 7, 1, 2, 4, 9, 6, 4, 2, 3]
[7, 9, 6]

### Q2 Write List comprehensions to produce the following Lists
#### Q2.A:- ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [4]:
[x*y for x in 'xyz' for y in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

#### Q2.B:- ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [5]:
[x*y for x in range(1,5) for y in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

#### Q2.C:- [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [6]:
# normal
#l=[]
#for i in [2,3,4]:
#    for j in range(3):
#        l.append([i+j])

[[i+j] for i in [2,3,4] for j in range(3) ]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

#### Q2.D:- [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [7]:
[[x+i for x in range(2,6)] for i in range(4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

#### Q2.E:- Q2.F:- [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [8]:
# normal
# l=[]
# for i in range(1,4):
#     for j in range(1,4):
#         l.append((j,i))
        
[(j,i) for i in range(1,4) for j in range(1,4) ]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]